<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>hello</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <h1>hello
        <% if(name) {%>
            <span class="name">
                <%= name %>!
            </span>
            <% } else { %>
                <span class="stranger">Stranger!</span>
                <% } %>
    </h1>
</body>

</html>